body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Changed font to 'Poppins' */
    background-color: #cde6ad;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #aaa;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Added border-radius for a slightly rounded appearance */
    transition: background-color 0.3s ease; /* Smooth transition on background color */
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition on text color */
}

a:hover {
    color: #2980b9;
}
